@model MathGame.Models.QuestionModel
@{
    ViewData["Title"] = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Question</h1>

<h3>@Model.question.getQuestion()</h3>
<form asp-action="Random" asp-controller="MathQuestion">
    <h3 asp-for="score" style="text-align:right;">Score @Model.user.score</h3>
    <label asp-for="question.user_answer">Answer:</label>
    <input asp-for="question.user_answer" autofocus="autofocus" />
    <button type="submit" class="btn btn-info" id="submit" value ="submit" name="submit">Submit</button>
</form>


@if (Model.question.score == 0)
{
    <p>Your score is 0</p>
}
@*
    This is a comment
*@

