@model MathGame.Models.ViewModels.ScoreboardModel

@{
    ViewData["Title"] = "Scoreboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@if (Model.user != null)
{
    <h1>Your final score: @Model.user.score</h1>
}

<h1>Leaderboard</h1>
<table class="table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>High Score</th>
        </tr>
    </thead>
    <tbody>
        @{int rank = 1;}
        @foreach (var user in Model.allUsers)
        {
            <tr>
                <td>@rank</td>
                <td>@user.name</td>
                <td>@user.score</td>
            </tr>
            rank++;  
        }
    </tbody>
</table>

